.container {
  position: absolute;
  z-index: 90;
  left: 15px;
  right: auto;
}
.date {
  display: block;
  text-align: center;
  padding: 10px 5px;
  color: #fff;
  background: #3b3b3b;
  width: 50px;
}
.date:after {
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  left: 0;
  bottom: -12px;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 12px solid #3b3b3b;
}
.day {
  display: block;
}
.month {
  display: block;
  color: #f53b57;
  font-size: 26px;
  line-height: 30px;
  font-weight: normal;
  margin: 2px 0;
}
.year {
  display: block;
}
