html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Nunito Sans", fantasy;
  font-size: 18px;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

body {
  --bg: white;
  --textNormal: #222;
  --borderBoxColor: white;
  background-color: var(--bg);
  color: var(--textNormal);
  margin: 0;
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #1e272e;
  --borderBoxColor: #172027;
  --textNormal: rgba(255, 255, 255, 0.88);
}

header {
  position: relative;
  z-index: 1;
  padding: 265px 0 200px;
  overflow: hidden;
  color: #fff;
  background: #21242a;
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 1124px;
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 0;
}

footer {
}

a {
  color: var(--textNormal);
  text-decoration: none;
  font-weight: bold;
}
