.container {
  /* text-align: right;
  border-right: 4px solid #f53b57;
  padding: 10px;
  font-size: 30px;
  margin: 20px 0;
  height: 55px; */
}
.title {
  /* margin-right: 5px;
  font-size: 43px; */
}
